@font-face {
  font-family: 'cookieRun Regular';
  src: url('../CookieRunFont_OTF/CookieRun\ Regular.otf') format('truetype');
}
@font-face {
  font-family: 'cookieRun Black';
  src: url('../CookieRunFont_OTF/CookieRun\ Black.otf.otf') format('truetype');
}
@font-face {
  font-family: 'cookieRun Bold';
  src: url('../CookieRunFont_OTF/CookieRun\ Bold.otf') format('truetype');
}

body {
  font-family: 'cookieRun Regular';
}

.game_app {
  overflow: hidden;
  position: relative;
  min-width: 1280px;
  height: 100vh;
}
.game_app .game {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 70000000000px;
  height: 100%;
  /* background-image: url('../lib/backgrounds/game/dragon.png'); */
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.game_app .ground {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 70000000000px;
  height: 10%;
  /* background-image: url('../lib/backgrounds/ground/ground.png'); */
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.game_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100px;
}

.game_info .score_box {
  display: flex;
  float: left;
  font-family: 'cookieRun Bold';
  text-align: center;
  width: 10%;
  right: 10%;
  color: rgb(247, 178, 4);
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

.game_info .cookie_profile {
  float: left;
  width: 20%;
  height: 80%;
  padding: 10px;
}

.game_info .cookie_profile .cookie_img {
  float: left;
  width: 40%;
  height: 100%;
  text-align: center;
}

.game_info .cookie_profile .cookie_img img {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  border: 3px solid rgb(247, 178, 4);
}

.game_info .cookie_profile .cookie_desc {
  float: left;
  left: 0;
  color: #fff;
  width: 60%;
  text-shadow: 1px 1px 1px #000;
}
.game_info .cookie_profile .cookie_desc .cookie_name {
  font-size: 25px;
  font-weight: bolder;
  color: #fff;
  padding: 3%;
  text-shadow: 1px 1px 1px #000;
}
/* .game_info .cookie_profile .cookie_desc .cookie_story {
} */

.game_info .hp {
  display: flex;
  align-items: center;
  justify-content: center;
  /* float: left; */
  width: 50%;
  height: 100%;
}
.game_info .hp .hp_img {
  display: flex;
  /* width: 10%; */
  height: 60%;
}
.game_info .hp .hp_background {
  display: flex;
  width: 100%;
  height: 10px;
  background-color: white;
  border: 2px solid #fff;
  border-radius: 5px;
}
.game_info .hp .hp_background .hp_progress {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: width 0.3s linear;
}


.game_info #pause_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 30%;
  width: 7%;
  background-color: rgb(247, 178, 4);
  border-radius: 5px;
  border-width: 3px;
  border-color: #fff;
}
.game_info #pause_button .pause_button_text {
  font-family: 'cookieRun Regular';
  color: #fff;
  font-size: 20px;
  /* text-shadow: 1px 1px 1px #000; */
}


@keyframes cookie_run{
    0% {
      background-position-x: 0vh;
    }
    100% {
      background-position-x: -196vh;
    }
  }
@keyframes cookie_slide{
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: -606px;
    }
  }
  @keyframes cookie_jump {
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-250px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes cookie_jump_double {
    0% {
      background-position-x: 0vh;
    }
    100% {
      background-position-x: -308vh;
    }
  }
  @keyframes blink_effect {
    50% {
      opacity: 0;
    }
  }

.cookie_box {
  position: fixed;
  left: 0;
  bottom: 10%;
  width: 28vh;
  height: 30vh;
  will-change: transform;
  z-index: 20;
  /* background-color: red; */
}

.cookie_box .cookie {
    /* background-color: red; */
}
.cookie_box .cookie.paused {
  animation: none !important;
}
/* .cookie_box .cookie.flip {
  transform: rotateY(180deg);
} */
.cookie_box .cookie.run {
  height: 100%;
  background-image: url("../lib/images/gingerMK_run.png");
  background-size: 196vh 30vh;
  animation: cookie_run .4s infinite steps(7);
}
.cookie_box .cookie.slide {
  position: relative;
  width: 15vh;
  height: 40vh;
  background-image: url("../lib/images/gingerMK_slide.PNG");
  background-size: 15vh 40vh;
  animation: none;
  transform: rotate(270deg);
  bottom: -3vh;
  /* left: 110px; */
  /* animation: cookie_slide .2s infinite steps(2); */
}
.cookie_box .cookie.jump {
  height: 100%;
  background-image: url("../lib/images/gingerMK_jump_one.png");
  background-size: 28vh 30vh;
  animation: none;
  /* animation: cookie_slide .5s infinite steps(2); */
}
.cookie_box .cookie.jump.double {
  height: 100%;
  background-image: url("../lib/images/gingerMK_jump_double.png");
  background-size: 308vh 30vh;
  animation: cookie_jump_double .5s infinite steps(11);
}
.cookie_box .cookie.jump.down,  .cookie_box .cookie.jump.down.slide{
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url("../lib/images/gingerMK_jump_down.png");
  background-size: 28vh 30vh;
  transform: none;
}
.cookie_box .cookie.crashed {
  /* height: 100%; */
  /* background-image: url("../lib/images/gingerBread_crashed.png"); */
  /* background-size: 242.5px 269px; */
  animation: blink_effect .1s infinite;
  /* animation: cookie_slide .5s infinite steps(2); */
}
.cookie_box .cookie.dead {
  background-image: url('../lib/images/gingerBrave_dead.png');
  background-size: 28vh 30vh;
  width: 100%;
  height: 100%;
  animation: none !important;
  /* animation: none; */
}

.jelly {
  position: absolute;
  width: 6vh;
  height: 7.5vh;
  background-image: url("../lib/jelly/blue_jelly_bean.png");
  background-size: 6vh 7.5vh;
  z-index: 10;
  /* background-color: blue; */
}

@keyframes stageStart {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.stage_box {
  position: absolute;
  font-family: 'cookieRun Bold';
  z-index: 30;
  left: 50%;
  top: 50%;
  z-index: 190;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 90px;
  white-space: nowrap;
  animation: stageStart 1.5s;
  animation-fill-mode: both;
  color: rgb(247, 178, 4);
  -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}
.paused_box {
  position: absolute;
  font-family: 'cookieRun Bold';
  z-index: 30;
  left: 50%;
  top: 50%;
  z-index: 190;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 90px;
  white-space: nowrap;
  color: rgb(247, 178, 4);
  -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}


@keyframes snacks {
  0% {
    background-position-x: 0px;
  }
  99% {
    background-position-x: -445px;
  }
  100% {
    background-position-x: -356px;
  }
}
@keyframes clocks {
  0% {
    background-position-x: 0vh;
  }
  100% {
    background-position-x: -60vh;
  }
}
@keyframes table {
  0% {
    background-position-x: 0vh;
  }
  100% {
    background-position-x: -75vh;
  }
}
@keyframes long_crystal {
  0% {
    background-position-x: 0vh;
  }
  100% {
    background-position-x: -60vh;
  }
}

.obstacle {
  position: absolute;
  /* width: 180px;
  height: 200px;
  background-image: url("../lib/obstacles/yellow_cone.png");
  background-size: 180px 200px; */
  z-index: 10;
  /* background-color: red; */
}

.obstacle.clocks {
  /* 2단 */
  position: absolute;
  width: 15vh;
  height: 40vh;
  background-image: url("../lib/obstacles/clock.png");
  background-size: 60vh 40vh;
  animation: clocks 1s infinite steps(4); 
}
.obstacle.pink_crystal {
  /* 2단 */
  position: absolute;
  width: 15vh;
  height: 40vh;
  background-image: url("../lib/obstacles/pink_crystal.png");
  background-size: 15vh 40vh;
}
/* .obstacle.snacks {
  2단
  position: absolute;
  width: 89px;
  height: 247px;
  background-image: url("../lib/obstacles/snacks.png");
  background-size: 445px 247px;
  z-index: 10;
  animation: snacks 1s forwards steps(5); 
  animation-fill-mode: forwards;
} */
.obstacle.cake {
  /* 2단 */
  position: absolute;
  width: 15vh;
  height: 40vh;
  background-image: url("../lib/obstacles/cake1.png");
  background-size: 15vh 40vh;
}
.obstacle.table {
  /* 1단 */
  position: absolute;
  width: 15vh;
  height: 15vh;
  background-image: url("../lib/obstacles/table.png");
  background-size: 75vh 15vh;
  animation: table 1s infinite steps(5); 
}
.obstacle.green_crystal {
  /* 1단 */
  position: absolute;
  width: 15vh;
  height: 15vh;
  background-image: url("../lib/obstacles/green_crystal.png");
  background-size: 15vh 15vh;
}
.obstacle.mini_snack {
  /* 1단 */
  position: absolute;
  width: 15vh;
  height: 15vh;
  background-image: url("../lib/obstacles/mini_snack.png");
  background-size: 15vh 15vh;
}
.obstacle.lamp {
  /* 슬라이드 */
  position: absolute;
  width: 30vh;
  height: 70vh;
  background-image: url('../lib/obstacles/lamp.png');
  background-size: 30vh 70vh;
}
.obstacle.long_crystal {
  /* 슬라이드 */
  position: absolute;
  width: 30vh;
  height: 70vh;
  background-image: url('../lib/obstacles/long_crystal.png');
  background-size: 60vh 70vh;
  animation: long_crystal 1s infinite steps(2);
}
.obstacle.knife {
  /* 슬라이드 */
  position: absolute;
  width: 30vh;
  height: 70vh;
  background-image: url('../lib/obstacles/knife.png');
  background-size: 30vh 70vh;
}